[submodule "ActionBarSherlock"]
	path = Dependencies/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "EtsyAndroidSDK"]
	path = Dependencies/EtsyAndroidSDK
	url = https://github.com/etsy/EtsyAndroidSDK.git
[submodule "Android-ViewPagerIndicator"]
	path = Dependencies/Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
[submodule "PhotoView"]
	path = Dependencies/PhotoView
	url = https://github.com/seanoshea/PhotoView.git
[submodule "ShowcaseView"]
	path = Dependencies/ShowcaseView
	url = https://github.com/Espiandev/ShowcaseView.git
[submodule "Crouton"]
	path = Dependencies/Crouton
	url = https://github.com/keyboardsurfer/Crouton.git
